<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SpikeConnectionString"
         providerName="Microsoft.EntityFrameworkCore.SqlServer"
         connectionString="Server=localhost\SQLEXPRESS;Database=EFCoreSpikeCodeFirst;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>